/* Ajoutez vos styles CSS ici */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-image: url('popcorn.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #F4E4C6;
    height: 190px;
    margin: 0px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid rgb(255, 255, 0); /* Ajout de la ligne jaune */
}

.logo {
    margin-left: 10px;
    width: 170px;
    height: 170px;
}

.intro {
    margin-top: 20px;

    font-weight: bold;
    font-size: 32px;

    position: absolute;

    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom : 20px;

    background-color: #ededed; /* Couleur de fond main texte*/
    padding: 10px 20px; /* Remplissage autour du texte */
    border-radius: 10px; /* Coins arrondis */
    display: inline-block; /* Pour que la largeur s'ajuste au contenu */
}
.espace {
    margin-top: 100px;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px; /* Ajustez la largeur totale des colonnes */
    margin: 50px auto;
    padding: 20px;
    background-color: #e2e1e1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: calc(50% - 10px); /* Calcul de la largeur de la colonne de gauche */
}

.content {
    width: calc(50% - 10px); /* Calcul de la largeur de la colonne de droite */
}

.question {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s; 


    background-color: #eaeaea;
}


.question:hover {
    background-color: #ccc; 
}

.answer {
    display: none;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}

